{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<div class="container-fluid">
 <h1>Home page</h1>
    <div class="row">
        <div class="col-8">
        {% for post in posts %}
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <small><span class="badge bg-primary">{{ post.categories.name }}</span></small>
                    <h3 class="d-inline-block mb-2 text-primary">{{ post.title }}</h3>
                    <p>Par : <strong>{{ post.author.firstname }} {{ post.author.lastname}}</strong></p>
                <div class="mb-1 text-muted">Le : {{ post.publishedAt ? post.publishedAt|date('d-m-Y') }}</div>
                    <p class="card-text mb-auto">{{ post.body|slice(0,150) }}</p>
                    <a href="{{ path('post_show', {id: post.id,'slug': post.slug }) }}" class="stretched-link">Lire la suite</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img loading="lazy" src="{{ post.image }}" alt="{{ post.title }}" >
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-4">
        <ul>
        {% include "front/category/_categories.html.twig" %}
        </ul>
    </div>
    {# display navigation #}
    <div class="navigation d-flex center">
        {{ knp_pagination_render(posts) }}
    </div>
 </div>

{% endblock %}
