{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<div class="container-fluid">
 <h1 class="h3">Home page</h1>
    <div class="row">
        <div class="col-lg-8">
        {% for post in posts %}
            <div class="card mb-3">
                <h3 class="card-header h4">{{ post.title }}</h3>
                <div
                class="bg-image d-flex justify-content-center align-items-center"
                style="
                    background-image: url('images/posts/{{ post.imageName }}');
                    height: 300px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                "
                ></div>
                <div class="card-body">
                    <p class="card-text">{{ post.body|slice(0,150) }}...</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="bi bi-person"></i><small><strong>{{ post.author.firstname }} {{ post.author.lastname}}</strong></small></li>
                    <li class="list-group-item"><i class="bi bi-folder"></i><small><span class="badge bg-primary"> {{ post.categories.name }}</span></small></li>
                </ul>
                <div class="card-body">
                    <a href="{{ path('post_show', {id: post.id,'slug': post.slug }) }}" class="stretched-link">Lire la suite</a>
                </div>
                <div class="card-footer text-muted">
                    <small>
                        <i class="bi bi-calendar"></i> {{ post.publishedAt ? post.publishedAt|date('d-m-Y') }}
                    </small>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="col-lg-4">
            {% include "front/category/_categories.html.twig" %}              
        </div>
        {# display navigation #}
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
</div>

{% endblock %}
