{% extends 'back.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <div class="col-12 p-3">
        <h1 class="h3">Liste des auteurs</h1>
    </div>
   <div class="col-12">
        <div class="card card-body">
            <div class="col sm-5 m-3">
                <a href="{{ path('app_back_author_new') }}" class="btn btn-warning mb-2">
                <i class="bi bi-plus-circle-fill"></i>
                Ajouter un auteur</a>
            </div>
            <div class="table-responsive-sm">
                <table class="table">
                    <thead class="bg-light">
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>CreatedAt</th>
                            <th>UpdatedAt</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for author in authors %}
                        <tr>
                            <td>{{ author.firstname }}</td>
                            <td>{{ author.lastname }}</td>
                            <td>{{ author.createdAt ? author.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ author.updatedAt ? author.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('app_back_author_show', {'id': author.id}) }}" class="btn btn-white mb-2"><i class="bi bi-eye-fill"></i></a>
                                <a href="{{ path('app_back_author_edit', {'id': author.id}) }}" class="btn btn-white mb-2"><i class="bi bi-pencil-square"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
