{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        
        <h4>Article(s) de la catégorie</h4>
        <h1><small>{{ category.name }}</small></h1>
        <div class="col-8">
        {% for post in posts %}
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="d-inline-block mb-2 text-primary">{{ post.title }}</h3>
                    <p>Auteur :<strong>{{ post.author.firstname }} {{ post.author.lastname}}</strong></p>
                    <small>Catégorie : {{ post.categories.name }}</small>
                <div class="mb-1 text-muted">Publié le : {{ post.publishedAt ? post.publishedAt|date('d-m-Y') }}</div>
                    <p class="card-text mb-auto">{{ post.body|slice(0,150) }}</p>
                    <a href="{{ path('post_show', {id: post.id,'slug': post.slug }) }}" class="stretched-link">Lire la suite</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img loading="lazy" src="images/posts/{{ post.imageName }}" alt="{{ post.title }}" >
                </div>
            </div>
        {% endfor %}
        {% if posts is empty %}
            <p class="alert alert-warning">Cette catégorie n'a pas d'article</p>
        {% endif %}
    </div>
    <div class="col-4">
        <ul>
        {% include "front/category/_categories.html.twig" %}
        </ul>
    </div>
 </div>

{% endblock %}
