{% extends 'back.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="col-12 p-3">
        <h1 class="h2">Utilisateur : {{ user.lastname }}</h1>
    </div>
     <div class="col-12">
        <div class="card card-body">
            <div class="col sm-5 m-3 d-flex justify-content-between">
                <a href="{{ path('app_back_user_index') }}" class="btn btn-warning mb-2">Retour</a>

                <a href="{{ path('app_back_user_edit', {'id': user.id}) }}" class="btn btn-warning mb-2">
                    <i class="bi bi-pencil-square"></i> Modifier
                </a>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>

                    <tr>
                        <th>Nom</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {{ include('back/user/_delete_form.html.twig') }}
    </div>
{% endblock %}
