{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <h1>Author</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ author.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ author.lastname }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ author.createdAt ? author.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ author.updatedAt ? author.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('author_list') }}">back to list</a>

{% endblock %}
